<!doctype html>
<html lang="en" xmlns:th="">
<head>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top m-b-0" th:fragment="header">
    <div class="navbar-header">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="ti-menu"></i>
        </a>
        <div class="top-left-part">
            <a class="logo" href="#">
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-left hidden-xs">
            <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>

        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li class="dropdown">
            </li>
            <li class="dropdown">
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
